table
{
    margin:auto;
    text-align:center;
    width:800px;
    margin-top:50px;
}
table,th,td{
    border:2px solid black;
    border-collapse:collapse;
    padding:5px;
    font-size: large;
}
th{
  padding:15px;
}